body {
  margin: 0;
  height: 100vh;
  display: flex;                
  justify-content: center;   
  align-items: center;         
  background-color: rgb(130, 161, 177);
}

canvas {
  display: block;
  border: 4px;
  border-style: solid;
  border-color: rgb(227, 228, 229);
  border-radius: 10px;
}
